body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	width: min-content;
	margin: 0 auto;
}

/* app styling */
.app-container {
	display: flex;

}

/* settings panel styling */
.settings-container {
	position: sticky;
	top: 0;
	width: 250px;
	height: 100vh;
}

/* play mat styling */
.play-mat-container {
	width: calc(100vw - 250px);
}

/* card container styling */
.hand-cards,
.deck-cards,
.discard-cards {
	min-height: 410px;
}

.card-group {
	display: flex;
	gap: 10px;
	overflow: overlay;
	padding: 10px;
}

.hand-cards {
	background-color: firebrick;
}

.deck-cards {
	background-color: aquamarine;
}

.discard-cards {
	background-color: plum;
}

/* card styling */
.card-container {
	width: min-content;
}

.card-container img {
	height: 310px;
}

.card-container button {
	width: calc(100%/2);
}

/* scrollbar */
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}