@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./assets/quicksand.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./assets/quicksand.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./assets/quicksand.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

* {
	font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	width: fit-content;
	margin: 0 auto;
}

button {
	width: 100%;
	height: 30px;
	border-radius: 10px;
}

/* app styling */
.app-container {
	display: flex;
}

/* settings panel styling */
.side-bar {
	position: sticky;
	top: 0;
	min-width: 250px;
	height: calc(100vh - 20px);
	padding: 10px;
	overflow: auto;

	display: flex;
	gap: 10px;
	flex-direction: column;
}

.settings-container,
.actions-container,
.history-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
}

.history-container {
	gap: 10px;
}

.history-container>p {
	padding: 10px;
	border: 1px black solid;
	border-radius: 10px;
}

/* play mat styling */
.card-table {
	/* total width - sidebar width - scrollbar width - padding width */
	width: calc(100vw - 270px - 10px - 20px);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

/* card container styling */
.hand-cards,
.deck-cards,
.discard-cards {
	min-height: calc(100vh/3);
	border: 5px black solid;
	border-radius: 25px;
}

.card-group {
	display: flex;
	gap: 10px;
	overflow: overlay;
	margin: 10px;
	padding-bottom: 5px;
}

.hand-cards {
	background-color: #07794a;
}

.deck-cards {
	background-color: #07794a;
}

.discard-cards {
	background-color: #07794a;
}

/* card styling */
.card-container {
	width: min-content;
}

.card-container img {
	height: 310px;
}

.card-container button {
	width: calc(100%/2);
}

/* scrollbar */
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
	background: gray;
}

@media only screen and (max-width : 1024px) {
	.app-container {
		flex-direction: column;
	}

	.side-bar {
		position: relative;
		height: auto;
	}

	.hand-cards,
	.deck-cards,
	.discard-cards,
	.app-container .card-table {
		width: auto;
	}

	.history-container>p {
		width: calc(100% - 20px);
	}

}